 
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<style>
  .card-body h2{
    height: 100px;
  }
</style>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to Mohammed Ibrahim's Main page</h1>
      <p class="lead text-muted">hey every body this is me mohammed ibrahim gaballah a computer engineering student at the faculty of engineering in cario</p>
      
      <div class = "row">
      <div class='col-lg-12'>
        <img id = "profileImage" src = "{% static 'mohammed.jpg' %}"/>          
      </div>
      <a href = "mailto:mohammedibrahimgaballah@gmail.com?subject=blog viewer who wants to " class = "btn btn-danger btnEmail">Email me</a>
      </div>
    
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      
  <h1 class="sectionHead">Software Projects</h1>
      <div class="row">
      {% for job in jobs.all %}
      {% if job.job_type == "S" %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">    
            <img  class="card-img-top" src="{{ job.image.url }}" />            
            <div class="card-body">
              <h2><a href="{% url 'job' job.id %}">{{ job.title }} {{ job.job_type }}</a> </h2>
              <p class="card-text" style="height:150px; overflow:auto;">{{ job.summary }}</p>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}

      </div>
    
      <h1 class="sectionHead">Hardware Projects</h1>
      <div class="row">
      {% for job in jobs.all %}
      {% if job.job_type == "H" %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">    
            <img  class="card-img-top" src="{{ job.image.url }}" />            
            <div class="card-body">
              <h2><a href="{% url 'job' job.id %}">{{ job.title }} {{ job.job_type }}</a> </h2>
              <p class="card-text" style="height:150px; overflow:auto;">{{ job.summary }}</p>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}

      </div>
      <h1 class="sectionHead">my interests</h1>
      <div class="row">
      {% for interest in interests.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">    
            <img  class="card-img-top" src="{{ interest.image.url }}" />            
            <div class="card-body">
              <h2 class="card-text" style="overflow:auto;">{{ interest.title   }}</h1>
              <p class="card-text" style="height:150px; overflow:auto;">{{ interest.summary }}</p>
            </div>
          </div>
        </div>
      {% endfor %}

      </div>
      </div>  
  </div>

  {% endblock  %}